plugins {
    id 'java'
    alias(libs.plugins.springBoot)
    alias(libs.plugins.springDependencyManagement)
}

group = 'com.example.{{name}}'
version = '0.0.1-SNAPSHOT'

java {
    toolchain {
        languageVersion = JavaLanguageVersion.of(21)
    }
}

repositories {
    mavenLocal()
    mavenCentral()
}

dependencies {
{{#dependencies}}
    implementation '{{groupId}}:{{artifactId}}:{{version}}'
{{/dependencies}}
    implementation(libs.springBootStarter)
    testImplementation(libs.springBootStarterTest)
    testRuntimeOnly(libs.junitPlatformLauncher)
}

tasks.named('test', Test) {
    useJUnitPlatform()
}
