---
naryo:
  nodes:
    - id: eadc75b2-4217-4018-95af-f67c13058976
      name: anvil
      type: ETHEREUM
      connection:
        type: HTTP
        endpoint:
          url: http://anvil:8545
      subscription:
        strategy: BLOCK_BASED
      interaction:
        strategy: BLOCK_BASED
  
  broadcasting:
    configuration:
      - id: cd1bec0d-2998-46bc-828f-94459d42c17a
        type: HTTP
        endpoint:
          url: http://mock-http:7070
    broadcasters:
      - id: cd1bec0d-2998-46bc-828f-94459d43c17b
        configurationId: cd1bec0d-2998-46bc-828f-94459d42c17a
        target:
          type: ALL
          destinations:
            - /events
            
  filters:
    - id: a5605668-7a88-4e5c-b4ee-4a8417b7184d
      name: "my-transfer-filter"
      nodeId: eadc75b2-4217-4018-95af-f67c13058976
      type: "EVENT"
      scope: "CONTRACT"
      specification:
        signature: "HelloCounter(uint256)"
      address: ${CONTRACT_ADDRESS}
