naryo: #For a full configuration guide visit https://github.com/LF-Decentralized-Trust-labs/Naryo/blob/main/docs/configuration/configuration-core.md  
  nodes:
    - id: eadc75b2-4217-4018-95af-f67c13058976
      name: anvil
      type: ETHEREUM
      connection:
        type: HTTP
        endpoint:
          url: http://anvil:8545
      subscription:
        method: POLL
        interval: 1s

  broadcasting:
    configuration: #the server that will receive the events
      - id: cd1bec0d-2998-46bc-828f-94459d42c17a
        type: HTTP #the destination is an HTTP server. Other supported types are KAFKA and RABBITMQ.
        endpoint:
          url: http://mock-http:7070
    broadcasters:
      - id: cd1bec0d-2998-46bc-828f-94459d43c17b
        configurationId: cd1bec0d-2998-46bc-828f-94459d42c17a #the id of the destination configuration
        target: #parameters to define what should be sent and to which specific route within the destination
          type: FILTER #only send events that are captured by a specific filter
          filterId: a5605668-7a88-4e5c-b4ee-4a8417b7184d #the specific filter id (see line 32)
          destinations:
            - /events #the specific endpoint whitin the HTTP server      
  filters:
    - id: a5605668-7a88-4e5c-b4ee-4a8417b7184d
      name: "my-filter"
      nodeId: eadc75b2-4217-4018-95af-f67c13058976 #the id of the configured node (see line 6)
      type: "EVENT"
      scope: "CONTRACT" 
      specification:
        signature: "HelloCounter(uint256)"
      address: ${CONTRACT_ADDRESS}

  stores:
    - nodeId: eadc75b2-4217-4018-95af-f67c13058976
      type: mongo
      features:
        - type: EVENT
          strategy: BLOCK_BASED
          targets:
            - type: BLOCK
              destination: blocks
            - type: TRANSACTION
              destination: transactions
            - type: CONTRACT_EVENT
              destination: contract-events
        - type: FILTER_SYNC
          destination: filters

spring:
  data:
    mongodb:
      uri: mongodb://mongodb:27017/naryo
      auto-index-creation: true

server:
  port:6060